<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/grille.css" type="text/css" media="screen"  />
<link rel="stylesheet" href="css/utils.css" type="text/css" media="screen"  />
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen"  />

<title>Gabarit 3 colonnes</title>
</head>

<body class="arial font12">
	<div id="header" class="alignCenter bottom15">
		<h1>Header</h1>
	</div>
	<div id="conteneur" class="container_12 centerAuto">
		<div id="menu" class="bottom30">
			<ul class="horizontal">
				<li><a href="#">Accueil</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Produits</a></li>
				<li><a href="#">Solutions</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<div class="clr"></div>
		</div>
		<div id="corps">
			<div id="left" class="colonne_2">
				<h1>left</h1>
				<ul>
					<li><a href="#">accuei</a></li>
					<li><a href="#">accueil</a></li>
					<li><a href="#">accueil</a></li>
					<li><a href="#">acueil</a></li>
					<li><a href="#">accueil</a></li>
				</ul>
			</div>
			<div id="center" class="colonne colonne_8 alpha">
				<h1>Center</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere orci quis nisl gravida pretium sagittis non lectus. Suspendisse eget tortor sed odio placerat gravida.
					 Cras varius tristique sem. Pellentesque faucibus, quam porta venenatis posuere, ligula odio gravida risus, sed rutrum ipsum lacus eget urna. Duis sodales scelerisque 
					 eros ut ornare. Etiam auctor urna mattis nunc bibendum at blandit mi rhoncus. Nam ac porta eros. Curabitur id est vel turpis semper congue. Vestibulum vehicula, 
					 dolor at faucibus facilisis, tellus est placerat justo, a mattis nibh urna at urna. Fusce pretium est ut ante cursus sit amet molestie enim ultricies. Praesent ante diam, vestibulum ut tempus id, aliquet nec ipsum.
					  Sed libero quam, consectetur et vulputate consectetur, tempus sit amet tortor. Etiam tempor vulputate massa, nec feugiat orci placerat consectetur. Vestibulum pharetra 
					  fermentum aliquet. Sed vel sem dolor. 
				</p>
				<h2>Comment</h2>
				<p>
					<input type="text" />
				</p>
				<p>
					<textarea name="" id="" cols="30" rows="10"></textarea>
				</p>
			</div>
			
			<div id="right" class="colonne_2 alpha">
				<h1>right</h1>
			</div>
			<div class="clr"></div>
		</div>
		
	</div>
	
</body>
</html>
