{% extends "base.html" %}
{% load thumbnail pagination_tags %}
{% load i18n %}
{% block title %}{% trans "Festival de Gnaoua: revue de presse" %}{% endblock %}
{% block description %}{% trans "Festival de Gnaoua: revue de presse" %} {% endblock %}
{% block content %}
<h1 class="titre festival uppercase font23 bottom20">{% trans "Festival de gnaoua: revue de presse" %}</h1>
<div class="barre_blanc"></div>
{% autopaginate presse 10 %} 
{% for p in presse %}
<div class="revue">
	{% comment %}<div class="photo_revue"><a href="{{ p.get_absolute_url }}"><img alt="{{ p.titre }}" src="{% thumbnail p.media_photo 150x162 %}" /></a></div>{% endcomment %}
	<div class="contenu_revue">
		<h1 class="font23"><a href="{{ p.get_absolute_url }}">> {{ p.titre|truncatewords:5 }} - {{ p.media }} ({{ p.get_diffusion_display }}) / {{ p.date }}</a></h1>
		{{ p.extrait|truncatewords:40 }}
		<p class="top5">
			<a href="{{ p.get_absolute_url }}" class="uppercase vert" title='{% trans "lire la suite" %}'>> {% trans "lire la suite" %}</a>
		</p>
	</div>
	<div class="barre_blanc"></div>
</div>
{% endfor %}
{% paginate %}
{% endblock %}