{% load thumbnail %}
<div id="{{ div_id }}" class="">
	<div id="prev_{{ div_id }}" class="prev_carousel none"></div>
	<div id="next_{{ div_id }}" class="next_carousel none"></div> 
	<div id="description_{{ div_id }}" class="description_carousel none"></div>
	<ul class="horizontal">
	{% for photo in photos %}
		<li><img src="{% thumbnail photo.photo taille %}" alt="{{ photo.titre }}" /></li>
	{% endfor %} 
	</ul>
	<div class="clr"></div>
</div>
{% comment %}
<div id="navigation_{{ div_id }}">
	<div id="cercles_{{ div_id }}">
	 	<ul>
	    </ul>
	</div>
    <div class="player_{{ div_id }}" id="player_{{ div_id }}">
     <ul>
     </ul>
     <div class="clr"></div>
    </div><!-- player_carousel -->
</div><!-- navigation-->
{% endcomment %}
<script type="text/javascript">
var carousel = new Ncarousel({ parent: "{{ div_id }}", effet : "full" });
</script>