{% extends "base.html" %}
{% load thumbnail pagination_tags %}
{% load i18n %}
{% block title %} {% trans "Communiqué de presse" %}{% endblock %}
{% block description %}{% trans "Telecharger le Communiqué de Presse" %} {{ presse.titre }} {% endblock %}
{% block content %}
	<h1 class="titre festival uppercase font23 bottom20">{% trans "Communiqué de presse" %}</h1>
	<div class="barre_blanc"></div>
	{% autopaginate presse 10 %} 
	{% for p in presse %}
	 	<div class="revue">
			{% comment %}<div class="photo_revue"><a href="{{ p.get_absolute_url }}"><img alt="{{ p.titre }}" src="{% thumbnail p.media_photo 150x162 %}" /></a></div>{% endcomment %}
			<div class="contenu_revue">
				<h1 class="font23"><a href="{{ p.get_absolute_url }}">> {{ p.titre }}  {% if p.media %}- {{ p.media }} {% endif %} 
				{% if p.get_diffusion_display  %}({{ p.get_diffusion_display }}) {% endif %} / {{ p.date }}</a></h1>
				{{ p.description|truncatewords:40 }}
				<p class="top5">
					{% if p.fichier %}{% trans "Télécharger le communiqué de presse en français" %}: <a class="uppercase vert" href="{{ MEDIA_URL }}{{ p.fichier }}" target="_blank">>{% trans "Télécharger" %}</a>{% endif %}
				    
				</p>
				<p class="top5">
					{% if p.fichier_en %}{% trans "Télécharger le communiqué de presse en anglais" %}: <a class="uppercase vert" href="{{ MEDIA_URL }}{{ p.fichier_en }}" target="_blank">>{% trans "Télécharger" %}</a>{% endif %}
				    
				</p>
				<p>
					{% if p.fichier_ar %}{% trans "Télécharger le communiqué de presse en arabe " %}: <a  class="uppercase vert" href="{{ MEDIA_URL }}{{ p.fichier_ar }}" target="_blank">>{% trans "Télécharger" %}</a>{% endif %}
				</p>
				<p class="top5">
					<a href="{{ p.get_absolute_url }}" class="uppercase vert" title='{% trans "lire la suite" %}'>> {% trans "lire la suite" %}</a>
				</p>
			</div>
			<div class="barre_blanc"></div>
		</div>
	{% endfor %}
	{% paginate %}
{% endblock %}