{% load flatpages_tags %}
<div id="footer" class="blanc">
	<div id="cont_footer" class="container centerAuto relativeLayout">
		<div class="haut absoluteLayout"><a href="#header"><img src="{{ MEDIA_URL }}images/haut.png" /></a></div>
		<div id="menu_footer"><a href="/blog/">Actualités</a> - <a href="{% url contact %}">Nous contacter</a>  -  <a href="/liens-utiles/">Liens utiles</a>  -  <a href="/mentions-legales/">Mentions légales</a>
		<span class="right">2014 © RISMA. Tous droits réservés</span>
		<div class="clr"></div>
		</div>
			
		<div class="case_footer colonne">
			<h2>Qui sommes-nous?</h2>
			{% get_pagestatiques "qui sommes nous" %}
		</div>
		
		<div class="case_footer colonne">
			<h2>Organisation</h2>
			{% get_pagestatiques "organisation" %}	
		</div>
		
		<div class="case_footer colonne">
			<h2>Stratégie</h2>
			{% get_pagestatiques "strategie" %}
		</div>
		<div class="case_footer2 colonne">
			<h2><a href="{% url offre_list %}">Carrière</a></h2>
			<h2><a href="/investisseurs/">Investisseurs</a></h2>
			<h2><a href="{% url contact %}">Contact</a></h2>
			<h2><a href="{% url communique %}">Revue de presse</a></h2>
		</div>
		<div class="clr"></div>
		<div id="wbc" class="alignCenter top10">Site By <a href="http://www.wbc.ma" target="_blank" title="WBC"><img src="{{ MEDIA_URL }}images/wbc.png" alt="WBC" /></a></div>
	</div><!-- cont-footer -->
	
</div><!-- footer -->